extends layout

block content
  h1= title
  p Welcome to #{title}
  p I hope it works 1
  p I hope it works 2
  p I hope it works 3
  p I hope it works 4
  p I hope it works 5
  p I hope it works 6
  p I hope it works 7
  p I hope it works 8
  p I hope it works 9
  p I hope it works 10
  p I hope it works 11
  p I hope it works 12
  p I hope it works 13
  p I hope it works 14
  p I hope it works 15
  p I hope it works 16
  p I hope it works 17
  p I hope it works 18
  p I hope it works 19
  p I hope it works 20
  p I hope it works 21
  p I hope it works 22
  p I hope it works 23
  p I hope it works 24
  p I hope it works 25
  p I hope it works 26
  p I hope it works 27
  p I hope it works 28
  p I hope it works 29
  p I hope it works 30
  p I hope it works 31
  p I hope it works 32
  p I hope it works 33