extends layout

block content
  h1= title
  p Welcome to #{title}
  p I hope it works 1
  p I hope it works 2
  p I hope it works 3
  p I hope it works 4
  p I hope it works 5
  p I hope it works 6
  p I hope it works 7
  p I hope it works 8
  p I hope it works 9
  p I hope it works 10
  p I hope it works 11
  p I hope it works 12
  p I hope it works 13
  p I hope it works 14
  p I hope it works 15
  p I hope it works 16
  p I hope it works 17